h1 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #f8f8ff;
}
#weatherContent {
    display: none;
}

.navbar {
    height: 170px;
}

#searchResults,
#cityDetail,
.card {
    background-color: #707e83;
}